.todo-input {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  background-color: #fffbff;
  outline: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
