.todo-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #a715a021;
    border-radius: 5px;
    border: 1px solid #7a15758c;
}

.todo-nothing {
    margin-top: 30px;
    text-align: center;
    font-size: 17px;
}
