.todo-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: #fffbff;
  border-radius: 5px;
  box-shadow: 1px 3px 10px -5px #0000007a;
  font-weight: bold;
  color: #000000d2;
}

.todo-nothing {
  margin-top: 30px;
  text-align: center;
  font-size: 17px;
  color: #000000d2;
}
