.todo-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 1.1rem;
  padding: 10px 10px;
  border: none;
  border-left: 1px solid #a0539c81;
  background-color: #fffbff;
  outline: none;
  color: #000000d5;
  transition: background-color 0.2s ease;
  transition: width 0.4s ease;

  &.todo-active {
    background-color: #bd58af63;
  }

  &:hover {
    background-color: #e984db63;
  }

  &:active {
    background-color: #d162c263;
  }

  @media (max-width: 920px) {
    width: 13%;
  }

  @media (max-width: 640px) {
    border-top: 1px solid #a0539c81;
    width: calc(100% / 3);

    &:first-of-type {
      border-left: none;
    }
  }
}
