.todo-status {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .todo-title {
    font-size: 2rem;
    color: #000000d5;
  }

  .todo-info {
    font-size: 1.1rem;
    color: #000000a2;
    margin-bottom: 3px;
  }

  @media (max-width: 440px) {
    .todo-title {
      font-size: 1.5rem;
    }

    .todo-info {
      font-size: 0.9rem;
    }
  }
}
